/* Custom Font Declarations */

@font-face {
    font-family: 'Utendo';
    src: url('../assets/fonts/utendo/Utendo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utendo';
    src: url('../assets/fonts/utendo/Utendo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gontserrat';
    src: url('../assets/fonts/gontserrat/Gontserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gontserrat';
    src: url('../assets/fonts/gontserrat/Gontserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gontserrat';
    src: url('../assets/fonts/gontserrat/Gontserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gontserrat';
    src: url('../assets/fonts/gontserrat/Gontserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}